.game-field {
    width: 100vh;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid var(--field-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.x::before,
.cell.x::after {
    background-color: var(--x-color);
}

.cell.o::before {
    background-color: var(--o-color);
}

.game-field.x .cell:not(.x):not(.o):hover::before,
.game-field.x .cell:not(.x):not(.o):hover::after {
    background-color: var(--x-light-color);
}

.game-field.o .cell:not(.x):not(.o):hover::before {
    background-color: var(--o-light-color);
}

.cell.x::before,
.cell.x::after,
.game-field.x .cell:not(.x):not(.o):hover::before,
.game-field.x .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--symbol-size)*.15);
    height: var(--symbol-size);
}

.cell.x::before,
.game-field.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.game-field.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.game-field.o .cell:not(.x):not(.o):hover::before,
.game-field.o .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.o::before,
.game-field.o .cell:not(.x):not(.o):hover::before {
    width: var(--symbol-size);
    height: var(--symbol-size);
}

.cell.o::after,
.game-field.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--symbol-size) * .6);
    height: calc(var(--symbol-size) * .6);
    background-color: var(--app-background);
}